{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Glowing Inputs Login Form UI</title> -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>

    <style>
        .error{
            list-style: none;
            text-decoration: none;
            font-size: 20px;
            color: wheat;
        }
    </style>
    {% if validlink %}
    <div class="login-form">

        <section id="login_area">
            <div class="inner_login container">
                <div class="login_area">
                  <h2>Reset your password</h2>
                  <p>Please enter your new password twice: Don't set your previous password. Set new Password.</p>

                <form action="." method="post">
                    {{ form.new_password1.errors }}
                    <div class="field">
                        <div class=""></div>
                {{ form.new_password1 }}
                </div>
                <div class="error">
                    {{ form.new_password2.errors }}
                </div>

                <div class="field">
                    <div class=""></div>
            {{ form.new_password2 }}
            </div>
                <input type="submit" value="Update" />
                {% csrf_token %}
                </form>

            </div>
        </div>
      </section>
    </div>
    {% else %}
    <div class="login-form">


        <div class="text1">
            The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.
            <div class="link">
            <p>back to    <a href="{% url 'home' %}">home</a>
            </p>
        </div>
        </div>


    </div>

    {% endif %}

</body>
</html>
