{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Somehow I got an error, so I comment the title, just uncomment to show -->
<!-- <title>Glowing Inputs Login Form UI</title> -->
<link rel="stylesheet" href="{% static 'css/forgottenpassword.css' %}">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="login-form">
    <div class="text">
        Password set
    </div>

    <div class="text1">
        Your password has been set. You can <a href="{% url 'login' %}">log in now</a>
    </div>

</div>

</body>
</html>
