{% extends 'master.html' %}


{% block body %}
<div class="col-lg-6 col-md-12 m-auto pt-120">

    <div class="col-lg-12 col-sm-12">
        <h3>Varify Your email to activate your account.</h3>
    </div>


    <div class="col-lg-12 col-sm-12">
        <p>An email has been send to your email address. If you don't find it in inbox, check it in spam folder.</p>
    </div>


    <div class="col-lg-12 col-sm-12">
        <p>back to<a href="{% url 'home' %}">home</a></p>
    </div>
</div>

{% endblock %}
